# macOS
.DS_Store
**/.DS_Store

# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.xcscmblueprint
.swiftpm/
Package.resolved

# SwiftPM
.build/

# Logs
*.log

# Environment
.env
.env.*

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Archives
*.xcarchive

# IPA
*.ipa
.dSYM.zip

# Certificates / secrets
*.p12
*.mobileprovision
*.cer
